@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------- */
/* Custom Properties           */
/* --------------------------- */

:root {
    /* colors */
    --color-action: 22, 85%, 43%;
    --color-medium: 41, 71%, 74%;
    --color-dark: 250, 27%, 17%;
    --color-accent: 68, 21%, 72%;
    --color-light: 50, 39%, 82%;
    
    /* font-sizes */
    /* !px break a11y! */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2.25rem;
    --fs-500: 1.75rem;
    --fs-400: 1.3rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  
    /* font-families */
    --ff-serif: "Fugaz One", serif;
    --ff-sans: "Comfortaa Variable", sans-serif;
  }
  
  
  /* ---------------- */
  /* Reset            */
  /* ---------------- */
  
  /* Box Sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Reset Margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  picture {
    margin: 0;
  }
  
  h1, 
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  
  /* Body Set */
  body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    color: hsl(var(--color-light));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1.5;
    min-height: 100vh;
  }
  
  /* easier images */
  img, picture {
    max-width: 100%;
    display: block;
  }
  
  /* form elements */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* remove animations for people who turned them off */
  @media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* -------------------------- */
  /* Utility Classes            */
  /* -------------------------- */
  
  /* general */
  
  .flex {
    display: flex;
    /* use a custom property with a default value just in case */
    gap: var(--gap, 1rem);
  }
  
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }
  
  /* .card :where(h1, h2, h3) {} */
  
  /* .flow > * + * */
  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
  }
  
  .container {
    /* logical property */
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  /* colors */
  
  .bg-dark {
    background-color: hsl( var(--color-dark) );
  }
  .bg-action {
    background-color: hsl( var(--color-action) );
  }
  .bg-light {
    background-color: hsl( var(--color-light) );
  }

  .bg-medium {
    background-color: hsl( var(--color-medium) );
  }

  .bg-accent {
    background-color: hsl( var(--color-accent) );
  }
  
  .text-dark {
    color: hsl( var(--color-dark) );
  }
  .text-base {
    color: hsl( var(--color-base) );
  }
  .text-accent {
    color: hsl( var(--color-accent) );
  }
  .text-light {
    color: hsl( var(--color-light) );
  }
  
  .example-comp {
    background-color: hsl( var(--color-base));
  }
  
  /* typography */
  .ff-serif {
    font-family: var(--ff-serif);
  }
  .ff-sans {
    font-family: var(--ff-sans);
  }
  
  .letter-spacing-1 {
    letter-spacing: 4.75px;
  }
  .letter-spacing-2 {
    letter-spacing: 2.7px;
  }
  .letter-spacing-3 {
    letter-spacing: 2.35px;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .fs-900 {
    font-size: var(--fs-900);
  }
  .fs-800 {
    font-size: var(--fs-800);
  }
  .fs-700 {
    font-size: var(--fs-700);
  }
  .fs-600 {
    font-size: var(--fs-600);
  }
  .fs-500 {
    font-size: var(--fs-500);
  }
  .fs-400 {
    font-size: var(--fs-400);
  }
  .fs-300 {
    font-size: var(--fs-300);
  }
  .fs-200 {
    font-size: var(--fs-200);
  }
  
  .fs-900,
  .fs-800,
  .fs-700,
  .fs-600 {
    line-height: 1.1;
  }

  /* -------------------------- */
  /* Components */
  /* -------------------------- */
  
  .primary-navigation {
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .primary-navigation a {
    text-decoration: none;
  }
  
  .primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
  }
  
  .underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid transparent;
  }
  
  .underline-indicators > *:hover,
  .underline-indicators > *:focus {
    border-color: hsla(var(--color-light), 0.5);
  }
  
  .underline-indicators > .active,
  .underline-indicators > [aria-selected="true"] { 
    color: hsl(var(--color-light));
    border-color: hsl(var(--color-light));
  }

  .dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsla(var(--color-light), 0.5)
  }
  
  .dot-indicators > *:hover,
  .dot-indicators > *:focus {
    background-color: hsla(var(--color-light, 1))
  }
  
  .dot-indicators > [aria-selected="true"] {
    background-color: hsla(var(--color-light), 1);
  }

  .large-button {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    letter-spacing: 4.72px;
    padding: 1em 2em;
    border: 1px solid hsl(var(--color-light));
    border-radius: 5px;
    cursor: pointer;
  }